
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';
$fa-font-path:"../webfonts";

// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import '~admin-lte/dist/css/adminlte.css';
@import "~@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "~@fortawesome/fontawesome-free/scss/solid.scss";
@import "~@fortawesome/fontawesome-free/scss/brands.scss";


.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}
.router-link-exact-active{
  background: #17a2b8;
  color: #fff !important;
}
.sbItem{
  background: #fff !important;
}

.topPostImg{
  height: 400px !important;
  object-fit: cover;
  object-position: center center;
  padding: 4px;
}
.tpDate{
  padding: 15px;
}

.tpBody{
  padding: 0px 1.25rem;
}
.spBody{
  padding: .5rem 1.25rem;
  margin: 0rem .75rem;
}

.spImg{
  width: 275px !important;
  object-fit: cover;
  object-position: center center;
  border: 1px solid green;
}
.showImg{
   
    height: 400px !important;
    object-fit: cover;
    object-position: center center;
    padding: 4px;
    margin-left: 71px;

}

 